---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hakkımda">
    <h1 style="text-align: center;">Emirhan Erol</h1>
    <br>
    <br>
    <br>
    <br>
    <p style="color:white ; text-align: center;	text-shadow: 2px 2px #0c0101;">Atalar Mesleki ve Teknik Anadolu Lisesi Motorlu Araçlar mezunuyum. Lisede Erasmus+ programına katılarak Çekya'da hibrit araçlar üzerine eğitim aldım. Motorlu taşıtların bana çekici gelmediğini anladım.Üniversitede uzun zamandır aklımda olan yazılım sektörüne geçmeye karar verdim. Meraklı ve bir şeyler yaratmayı ve düzenlemeyi sevdiğim için bu sektöre geçiş yapmak benim için zor olmadı.
    </p>

</Layout> 